[submodule "ikan/vendors/spd_log"]
	path = ikan/vendors/spd_log
	url = https://github.com/gabime/spdlog
[submodule "ikan/vendors/glfw/glfw"]
	path = ikan/vendors/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "ikan/vendors/imgui/imgui"]
	path = ikan/vendors/imgui/imgui
	url = https://github.com/ashish1009/imgui
[submodule "ikan/vendors/glm"]
	path = ikan/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "ikan/vendors/imguizmo/imguizmo"]
	path = ikan/vendors/imguizmo/imguizmo
	url = https://github.com/ashish1009/ImGuizmo
