[submodule "iKan/vendors/spdlog"]
	path = iKan/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "iKan/vendors/glfw"]
	path = iKan/vendors/glfw
	url = https://github.com/ashish1009/glfw
[submodule "iKan/vendors/glm"]
	path = iKan/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "iKan/vendors/gui/gui"]
	path = iKan/vendors/gui/gui
	url = https://github.com/ashish1009/imgui
[submodule "iKan/vendors/yamlSerialiser/yaml"]
	path = iKan/vendors/yamlSerialiser/yaml
	url = https://github.com/ashish1009/yaml-cpp
[submodule "iKan/vendors/gui/guizmo"]
	path = iKan/vendors/gui/guizmo
	url = https://github.com/ashish1009/ImGuizmo
