[submodule "ikan/vendors/spd_log"]
	path = ikan/vendors/spd_log
	url = https://github.com/gabime/spdlog
[submodule "ikan/vendors/glfw/glfw"]
	path = ikan/vendors/glfw/glfw
	url = https://github.com/glfw/glfw
